body {
    background-color: #f3f0e0;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    min-height: 100vh;
    position: relative;
    font-family: Montserrat;
    position: relative;
    background-color: white;
}

body::after {
    content: "";
    display: block;
    height: 78px;
}

h1 {
    font-family: Anton;
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-family: Anton;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

p {
    font-family: Anton;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.header {
    background-color: white;
    content: "";
    position: sticky;
    left: 0;
    right: 0;
    height: 78px;
    width: 100%;
    margin: auto auto;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4rem;
    z-index: 1;

}

.header-title a{
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

.header::after {
    content: "";
    height: 246px;
    display: block;
    position: relative;
    width: 100%;
    z-index: -99999;
    background-color: #fe0000;
}

.header-logo {
    height: 76px;
    width: 76px;
}

.header-title {
    font-family: Anton;
    font-size: 2rem;
    padding-left: 2rem;

}

.nav-container {
    margin-left: auto;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0);
    transition: border-bottom 150ms;
}

.nav-item a:hover {
    border-bottom: 0.05rem solid rgba(0, 0, 0, 1);
}

.nav-item-active a{
    color: #fe0000;
    text-decoration: underline;
    border-bottom: none !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 78px;
    background-color: white;
    align-content: center;
    text-align: center;
}

.title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
    margin: 0 auto;
    width: 100%;
    z-index: 1;


}

.title-header {
    margin-bottom: -2rem;
    z-index: inherit;
}

.title-paragraph {
    text-align: center;
    z-index: inherit;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promoted-event {
    height: 55vh;
    max-width: 90vh;
    display: block;
    margin: auto;
    
}

.socials svg {
    height: 64px;
}

.socials a {
    text-decoration: none;
}


.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1099px) {
    #burgerMenu {
        cursor: pointer;
        height: 32px;
        width: 32px;
        margin: 50px;
        display: block;
        position: absolute;
        margin: 0 auto;
        right: 32px;
        top: 26px;
        z-index: 2;



        span,
        span:before,
        span:after {
            background: #000;
            display: block;
            height: 3px;
            opacity: 1;
            transition: 0.15s ease-in-out;
            position: absolute;

        }

        span:before,
        span:after {
            content: '';
        }


        span:before {
            left: 0px;
            top: -10px;
            width: 32px;
        }


        span {
            right: 0px;
            top: 13px;
            width: 32px;
        }


        span:after {
            left: 0px;
            top: 10px;
            width: 32px;

        }
        &.close {
            span:before {
                top: 0px;
                transform: rotate(90deg);
                width: 32px;

            }

            span {
                transform: rotate(-45deg);
                top: 13px;
                width: 32px;
            }

            span:after {
                top: 0px;
                left: 0;
                transform: rotate(90deg);
                opacity: 0;
                width: 0;

            }
        }
    }

    #navMenu {
        transition: all 0.15s ease-in-out;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        visibility: collapse;
        overflow-x: clip;
        z-index: 3;
        &.overlay {
            visibility: visible;
            opacity: 1;
            right: 0;
            top: 334px;
            background: white;
        }

    }

    .nav-items {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 0 1rem;
        list-style: none;
        box-sizing: border-box;
        z-index: inherit;
    }

    .nav-item {
        padding: 0.5rem;
        font-weight: 700;
        font-size: 3rem;
         z-index: inherit;
    }
}

@media (min-width: 1100px) {

    .nav-items {
        display: flex;
        flex-direction: row;
        list-style: none;
        box-sizing: border-box;
    }


    .nav-item {
        padding: 0.5rem;
        font-weight: 700;
        font-size: 1rem;
    }

}
table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  text-align: center;
  border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #f5f5f1;
}

.event-list {
    font-family: Montserrat;
    font-size: 2rem;
    text-align: center;
    list-style: none;
    
    li {
        margin: 1rem 0;

        b {
            color: #fe0000;
        }
    }
}

.content-title{
    margin-bottom: 0;
    text-align: center;
}